@font-face {
    font-family: 'Harry Potter';
    src: url(fonts/HarryP.ttf);
}

* {
    box-sizing: border-box;
    --primary-dark: color-mix(in srgb, var(--primary) 50%, black);
}

body {
    background-image: url(images/background.jpg);
    background-size: 350px;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;

}

article {
    --flag-height: 900px;
    --cut-size: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("images/pattern.png");
    background-color: var(--primary, grey);
    padding: 1rem;
    height: var(--flag-height);
    clip-path: polygon(
        0% 0%, 100% 0%, 100% 100%, 50% calc(100% - var(--cut-size)), 0% 100%
    );
    transition: transform 1s ease-in-out 0.2s;
    transform: translateY(var(--translate, -50%));
}

article h2 {
    font-family: 'Harry Potter';
    text-transform: capitalize;
    margin-block-end: calc(var(--cut-size) * 1.5);
}

article.gryffindor {
    --primary: #9d241f;
}

article.slytherin {
    --primary: #2f7453;
}

article.ravenclaw {
    --primary: #3c4aa2;
}

article.hufflepuff {
    --primary: #c2b650;
}

article:hover {
    --translate: 0;
}